<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:25:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonOps.startSession()[pri:0, instance:Tests.E2E@239963d8]">&gt;&gt;startSession</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:25:55</td>   <td>4889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonOps.doBeforeMethod(java.lang.reflect.Method)[pri:0, instance:Tests.E2E@239963d8]">&gt;&gt;doBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>20/01/05 12:25:55</td>   <td>4892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E.test01_signin()[pri:0, instance:Tests.E2E@239963d8]">test01_signin</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:06</td>   <td>16172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;commonOps.doAfterMethod()[pri:0, instance:Tests.E2E@239963d8]">&lt;&lt;doAfterMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:06</td>   <td>16182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonOps.doBeforeMethod(java.lang.reflect.Method)[pri:0, instance:Tests.E2E@239963d8]">&gt;&gt;doBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>20/01/05 12:26:06</td>   <td>16182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E.test02_tooltip()[pri:0, instance:Tests.E2E@239963d8]">test02_tooltip</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:10</td>   <td>20623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;commonOps.doAfterMethod()[pri:0, instance:Tests.E2E@239963d8]">&lt;&lt;doAfterMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:11</td>   <td>20918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonOps.doBeforeMethod(java.lang.reflect.Method)[pri:0, instance:Tests.E2E@239963d8]">&gt;&gt;doBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>20/01/05 12:26:11</td>   <td>20918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E.test03_blank_fields()[pri:0, instance:Tests.E2E@239963d8]">test03_blank_fields</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:11</td>   <td>21259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;commonOps.doAfterMethod()[pri:0, instance:Tests.E2E@239963d8]">&lt;&lt;doAfterMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:11</td>   <td>21560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonOps.doBeforeMethod(java.lang.reflect.Method)[pri:0, instance:Tests.E2E@239963d8]">&gt;&gt;doBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>20/01/05 12:26:11</td>   <td>21561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E2E.test04_registration()[pri:0, instance:Tests.E2E@239963d8]">test04_registration</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:13</td>   <td>23743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;commonOps.doAfterMethod()[pri:0, instance:Tests.E2E@239963d8]">&lt;&lt;doAfterMethod</td> 
<td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>20/01/05 12:26:13</td>   <td>23753</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;commonOps.closeSession()[pri:0, instance:Tests.E2E@239963d8]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
</table>
